.container {
    width: 1000px;
    border: 1px solid black;
}
.header {
    background-color: blue;
    padding: 15px;
}
.header h1 {
    margin: 0;
    color: white; 
    margin: 20px 0 0 100px;
    display: inline-block;
}
.input-field {
    display: inline-block;
    color: white;
    vertical-align: top;
}
.input-field input {
    display: block;
}
.first-field {
    vertical-align: top;
    margin-left: 300px;
}
button {
    margin-top: 18px;
}
.main-content {
    height: 500px;
    background-color: gray;
    padding: 25px 100px 0 100px;
}
.connect {
    width: 400px;
}
.connect h2 {
    margin: 0;
}
.connect-list {
    list-style-type: none;
    padding: 0px
}
.connect-list span {
    font-weight: bold;
}