.container {
    background-color: #D5D2AE;
    width: 700px;
    text-align: center;
}
.header {
    padding-top: 20px;
    text-align: center;
}
.header h1 {
    display: inline-block;
    margin: 0;
}
.header img {
    width: 75px;
    height: 40px;
    background-color: white;
}
.column-blue {
    display: inline-block;
}
.column-blue img {
    width: 100px;
    height: 100px;
    border: 10px solid #82B4EE;
    outline: 3px solid black;
    margin: 10px 5px 10px 5px;
    display: block;
}
.column-red {
    display: inline-block;
}
.column-red img {
    width: 120px;
    height: 120px;
    background: #F36870;
    outline: 3px solid black;
    margin: 10px 0 10px 0;
    display: block;
}